DIRECTUS_TOKEN=wgi8gvsDfrvkKLvwiu7zxOgKRzmRXuyS
JWT_PARTIE_KEY=la_super_secret_key_pour_jwt
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@game.db/${POSTGRES_DB}?serverVersion=16&charset=utf8"
